<style>
div.card-header {
    padding:5px;
}
div.card {
    margin-bottom:1rem;
}
table.entry_table tbody th {
    white-space:nowrap;
}
table.entry_table tbody td {
    width:100%;
}
</style>

<template id='entry-page-template'>
<div class='container' :key='q'>
	<tool-navbar>
            <template slot='right'>
                    <widar></widar>
            </template>
    </tool-navbar>
    <div v-if='is_loaded'>
        <catalog-header v-if='typeof ic!="undefined" && catalog_q!=""' :catalog_q='catalog_q'></catalog-header>

        <div class='card'>
            <div class="card-header">
                <h5 class='card-title'>
                    {{i.getLabel()}}
                    <span style='font-size:11pt'>[<a target='_blank' class='mixnmatch_wb' :href="'/wiki/Item:'+q">{{q}}</a>]</span>
                </h5>
            </div>
            <div class="card-body">
                <h5 class='card-title'>Key data</h5>
                <table class='table table-bordered entry_table'>
                    <tbody>
                        <tr>
                            <th tt='entry'></th>
                            <td><a target='_blank' class='mixnmatch_wb' :href="'/wiki/Item:'+q">{{q}}</a></td>
                        </tr>
                        <tr>
                            <th tt='external_id2'></th>
                            <td>{{getStringProp('ext_id')}}</td>
                        </tr>
                        <tr>
                            <th tt='col_exturl'></th>
                            <td>
                                <a target='_blank' class='external' :href="getStringProp('ext_url')">
                                    {{getStringProp('ext_url')}}
                                </a>
                            </td>
                        </tr>
                        <tr v-for="c in getClaims('manual')">
                            <th tt='manually_matched'></th>
                            <td>
                                <div style='float:right;padding:5px;'>
                                    <button class='btn btn-outline-danger' tt='remove' @click.prevent='onRemoveMatch(i.getID(),i.getClaimTargetString(c),forceUpdate)'></button>
                                </div>
                                <div><wd-link :wd='wdwd' :item='i.getClaimTargetString(c)' smallq='1'></wd-link></div>
                                <div v-html='getMatchedByOn(c)'>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-body" v-if='hasActionLog()'>
                <h5 class='card-title'>History</h5>
                <table class='table table-bordered'>
                    <tbody>
                        <tr v-for='log_entry in getActionLog()'>
                            <td nowrap>
                                {{$.trim(log_entry.ts.replace(/[TZ\+]/g,' ').replace(/00:00:00/,''))}}
                            </td>
                            <td nowrap>
                                <span v-if='typeof log_entry.username!="undefined"'>
                                    <a target='_blank' class='wikidata' :href="'https://www.wikidata.org/wiki/User:'+encodeURIComponent(log_entry.username)">
                                        {{log_entry.username}}
                                    </a>
                                </span>
                            </td>
                            <td nowrap>
                                {{log_entry.type}}
                            </td>
                            <td style='width:100%' nowrap>
                                <span v-if="typeof log_entry.wdq">
                                    <wd-link :wd='wdwd' :item='log_entry.wdq' smallq='1'></wd-link>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div v-else>
        <i>Loading...</i>
    </div>
</div>
</template>

<script>
'use strict';

let EntryPage = Vue.extend ( {
    props : [ 'q' ] ,
    mixins : [ editMixin ] ,
    data : function () { return { is_loaded:false , i:{} , catalog_q:'' , ic:{} } } ,
    created : function () {
        let me = this ;
        me.is_loaded = false ;
        wd.getItemBatch([me.q],function(){
            me.i = wd.getItem(me.q) ;
            if ( typeof me.i == 'undefined' ) return ;
            if ( !me.i.hasClaims(_props.catalog) ) { // No catalog?
                me.is_loaded = true ;
                return ;
            }
            me.catalog_q = (me.i.getClaimItemsForProperty(_props.catalog,true))[0] ;
            wd.getItemBatch([me.catalog_q],function(){
                me.ic = wd.getItem(me.catalog_q) ;
                me.is_loaded = true ;
            } ) ;
        }) ;
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        getStringProp : function ( key ) {
            return this.i.getFirstStringForProperty ( _props[key] ) ;
        } ,
        getClaims : function ( key ) {
            return this.i.getClaimsForProperty(_props[key]) ;
        } ,
        getMatchedByOn : function ( c ) {
            let me = this ;
            if ( typeof c.qualifiers == 'undefined' ) return '' ;
            let user = me.getMatchedByUserNameFromClaim ( c ) ;
            let date = (typeof c.qualifiers[_props['matched_on']]=='undefined') ? '' : c.qualifiers[_props['matched_on']][0].datavalue.value.time.replace(/^\D*([0-9-]+).*$/,'$1') ;
            if ( user=='' && date=='' ) return '' ;
            let ret = 'Matched' ;
            if ( user != '' ) {
                user = me.getUserLink ( user ) ;
                ret += ' by <tt>' + user + '</tt>' ;
            }
            if ( date != '' ) ret += ' on ' + date ;
            return ret ;
        } ,
        forceUpdate : function () {
            this.i = wd.getItem(this.q) ;
        } ,
        hasActionLog : function () {
            return this.i.hasClaims(_props.action_log) ;
        } ,
        getActionLog : function () {
            let me = this ;
            let ret = [] ;
            $.each ( me.i.getClaimsForProperty(_props.action_log) , function ( dummy , c ) {
                let log_entry = { ts : c.mainsnak.datavalue.value.time } ;
                if ( typeof c.qualifiers != 'undefined' ) {
                    if ( typeof c.qualifiers[_props.by_user] != 'undefined' ) log_entry.username = c.qualifiers[_props.by_user][0].datavalue.value ;
                    if ( typeof c.qualifiers[_props.action_type] != 'undefined' ) log_entry.type = c.qualifiers[_props.action_type][0].datavalue.value ;
                    if ( typeof c.qualifiers[_props.manual] != 'undefined' ) log_entry.wdq = c.qualifiers[_props.manual][0].datavalue.value ;
                }
                ret.push ( log_entry ) ;
            } ) ;
            ret.sort ( function ( x , y ) { return x.ts - y.ts } ) ;
            return ret ;
        } ,
    },
    template:'#entry-page-template'
} ) ;
</script>
