<template id='list-page-template'>
	<div class='container'>
		<tool-navbar>
                <template slot='right'>
                	<widar></widar>
                </template>
        </tool-navbar>
        <div v-if='loaded'>
        	<catalog-header :catalog_q='catalog_q'></catalog-header>
            <div style='margin-bottom:1rem;'>
	            <batch-navigator style='width:30rem;' :batch_size='batch_size' :total='total_entries' :current='current_page' :batch_size_options='[10,25,50]' @set-current='onSetBatch($event)' @set-size='onSetBatchSize($event)'></batch-navigator>
	        </div>
            <div>
            	<div is='entry' v-for='entry in entries' :q='entry' :key='entry'></div>
            </div>
            <div style='center;margin-top:1rem;'>
	            <batch-navigator style='width:30rem;' :batch_size='batch_size' :total='total_entries' :current='current_page' :batch_size_options='[10,25,50]' @set-current='onSetBatch($event)' @set-size='onSetBatchSize($event)'></batch-navigator>
	        </div>
        </div>
    </div>
</template>

<script>
'use strict';

let ListPage = Vue.extend ( {
        props : [ 'catalog_q' , 'mode' , 'page' ] ,
        data : function () { return { loaded:false , i:{} , current_page:0 , default_batch_size:25 , batch_size:0 , offset:0 , entries:[] , total_entries:0 } } ,
        created : function () {
            let me = this ;
            me.loaded = false ;
            me.batch_size = me.default_batch_size ;
            if ( typeof me.$route.query.size != 'undefined' ) me.batch_size = me.$route.query.size*1 ;
            if ( typeof me.page != 'undefined' ) me.current_page = me.page*1 ;
            Promise.all ( [
                new Promise(function(resolve, reject) { wd.getItemBatch([me.catalog_q],resolve) } ) ,
                me.loadStatistics() ,
                me.loadCurrentBatch() ,
            ] ) .then ( () => {
                me.i = wd.getItem(me.catalog_q) ;
                if ( typeof me.i == 'undefined' ) return ; // Problem loading catalog item
                me.loaded = true ;
            } ) ;
		} ,
        updated : function () { tt.updateInterface(this.$el) ; } ,
        mounted : function () { tt.updateInterface(this.$el) ; } ,
        methods : {
        	getSPARQLconditions : function () {
        		let me = this ;
				let avoid_props = [] ;
				if ( me.mode == 'unmatched' ) avoid_props = [ _props.manual , _props.auto , _props.na ] ;
				if ( me.mode == 'auto' ) avoid_props = [ _props.manual , _props.na ] ;

				let sparql_conditions = "?q wdt:"+_props.catalog+" wd:"+me.catalog_q+" " ;
				if ( me.mode == 'manual' ) sparql_conditions += " ; wdt:" + _props.manual + " [] " ;
				if ( me.mode == 'auto' ) sparql_conditions += " ; wdt:" + _props.auto + " [] " ;
				if ( me.mode == 'na' ) sparql_conditions += " ; wdt:" + _props.na + " [] " ;

				$.each ( avoid_props , function ( dummy , prop ) {
					sparql_conditions += " MINUS { ?q wdt:" + prop + " [] } " ;
				} ) ;
				return sparql_conditions ;
        	} ,
        	loadStatistics : function () {
        		let me = this ;
        		return new Promise(function(resolve, reject) {
        			let sparql = "SELECT (COUNT(DISTINCT ?q) AS ?cnt) { " + me.getSPARQLconditions() + " }" ;
        			wd.loadSPARQL ( sparql , function ( d ) {
        				me.total_entries = d.results.bindings[0].cnt.value * 1 ;
        				resolve();
        			} ) ;
        		} ) ;
        	} ,
        	loadCurrentBatch : function () {
        		let me = this ;
    			me.offset = me.current_page * me.batch_size ;
        		return new Promise(function(resolve, reject) {
        			let sparql = "SELECT DISTINCT ?q { " + me.getSPARQLconditions() + " } ORDER BY ?q LIMIT "+me.batch_size+" OFFSET "+me.offset ;
        			wd.loadSPARQLitems ( sparql , function ( d ) {
        				me.entries = d ;
        				wd.getItemBatch ( d , function () {
        					let to_load = [] ;
        					$.each ( me.entries , function ( dummy , e ) {
        						let i = wd.getItem(e) ;
        						if ( typeof i == 'undefined' ) return ;
        						if ( i.hasClaims(_props.manual) ) {
	        						$.each ( i.getClaimItemsForProperty(_props.manual,true) , function ( dummy2 , q ) { to_load.push ( q ) } ) ;
        						} else {
	        						$.each ( i.getClaimItemsForProperty(_props.auto,true) , function ( dummy2 , q ) { to_load.push ( q ) } ) ;
        						}
        					} ) ;
        					wdwd.getItemBatch ( to_load , function () {
		        				resolve() ;
		        			} ) ;
        				} ) ;
        			} ) ;
        		} ) ;
        	} ,
        	getMyURL : function ( new_page , batch_size ) {
        		let url = '/list/'+this.mode+'/'+this.catalog_q ;
        		if ( new_page != 0 ) url += '/'+new_page ;
        		if ( batch_size != this.default_batch_size ) url += "/?size=" + batch_size ;
        		return url ;
        	} ,
        	onSetBatch : function ( new_page ) {
        		this.$router.push ( this.getMyURL(new_page,this.batch_size) ) ;
        	} ,
        	onSetBatchSize : function ( size ) {
        		let new_page = Math.floor((this.current_page*this.batch_size)/(size*1)) ;
        		this.$router.push ( this.getMyURL(new_page,size) ) ;
        	} ,
        },
        template:'#list-page-template'
    } ) ;
</script>
